@font-face {
    font-family: "DMsans";
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: 400, 500;
    font-style: italic;
}
@font-face {
    font-family: "DMsans";
    src: url(../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-weight: 400, 500;
    font-style: normal;
}

h1,h2,h3,p,a{
    font-family: "DMsans";
    font-weight: 500;
    font-style: normal;
}

